@import 'assets/scss/valuable';
@import 'assets/scss/responsive';

#myassets {
  .on-market-box {
    .list-item {
      margin-top: 40px;
      .container .row .item {
        // padding-left: 0;
        // padding-right: 0;
        margin-bottom: 12px;
        .wrapper {
          display: block;
          background-color: rgba(131, 181, 255, 0.21);
          // margin: 20px 20px 0;
          border-radius: 10px;
          overflow: hidden;
          transition: box-shadow 0.4s ease-in-out;
          &:hover {
            box-shadow: inset 30px 0 60px rgb(86 132 190 / 65%),
              inset -30px 0 60px rgb(86 132 190 / 45%);
            > .img > img {
              transform: scale(1.2);
            }
          }
          .title {
            position: relative;
            background-color: #fff;
            > img {
              width: 100%;
            }
            span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #fff;
              font-size: 17px;
            }
          }
          > .img {
            text-align: center;
            > img {
              transition: transform 0.4s ease-in-out;
              height: 135px;
            }
          }
          .cancel-button {
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 12px;
            width: 110px;
            height: 36px;
            background: url('/assets/img/button5.png') no-repeat center / 100%
              100%;
            button {
              height: 100%;
              width: 100%;
              color: #fff;
              background-color: transparent;
              border: none;
              outline: none;
              font-size: 14px;
              text-shadow: 1px 1px 2px #000;
            }
          }
        }
      }
    }
  }
  @include media('screen', '<laptop') {
    .list-item{
      margin-top: 20px !important;
    }
  }
}
