@import 'assets/fonts/Montserrat/style.css';
@import 'assets/fonts/berlinsansfb/style.css';
@import './responsive';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  letter-spacing: 1.2px;
  line-height: 1.5;
}
body {
  font-family: 'berlinsansfb';
}
a {
  text-decoration: none !important;
}

.green-color {
  color: #26fe21;
}
.yellow-color {
  color: #fddd22;
}

.primary-tex-yellow{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg,#fde426 10%,#c07320 90%);
}

.primary-tex-gray{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #e9e9e6 10%, #94918e 90%);
}

.primary-tex-red{
  font-weight: 900;
  color: #B20102;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.font-weight-700{
  font-weight: 700;
}

.font-size-18{
  font-size: 18px;
}

.ml-10{
  margin-left: 10px;
}

.popup-copied{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.401);
  font-size: 20px;
  color: #26fe21;
  font-weight: 900;

  &-wrap{
    transition: all 1s ease-in-out;
    animation: open-popup 1s;
  }
}

@keyframes open-popup {
  0% {
    transform: scale(0) ;
    opacity: 0;
  }
  
  100% {
    opacity: 1;
    transform: scale(1) ;
  }
}

.MuiDrawer-modal.MuiDrawer-modal.MuiModal-root{
  & div:nth-child(3).MuiPaper-root{
    background-image: linear-gradient(180deg, #3F1927 10%, #1A1C3B 90%) !important;
    width: 320px;

    .css-1hskriy{
      width: 100%;
    }
  }
}

.filter-tab{
  padding: 0 20px;
  width: 100%;
  
  .title{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
    width: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg,#fde426 10%,#c07320 90%);
  }

  .closebtn{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    border-radius: 8px;
    background-color: rgba(67, 61, 61, 0.444);
    svg{
      fill: #95850b;
    }
  }

  &-content{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
  }

  &-item{
    font-size: 16px;
    width: 50%;
    margin: 4px 0;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg, #e9e9e6 10%, #94918e 90%);
  }

 input[type=radio] {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f5f5f700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid rgb(143, 142, 142);
    display: inline-block;
    margin-top: 0;
    margin-bottom: -2px;
    transition: all 0.3s 0s ease;
  }
  input[type=radio]:hover{
    cursor: pointer;
  }
  input[type=radio]:focus {
    outline: none;
    border: 1.3px solid #111;
  }
  input[type=radio]:checked {
    background-color: #f5f5f700;
    text-align: center;
    border: 1.3px solid #cc00003f;
      animation: bounce 0.15s linear;
    -webkit-box-shadow: inset 0px 0px 0px 4px rgba(204,0,0,0.85); 
  }


  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    
    50% {
      transform: scale(0.95)
    }
    
    75% {
      transform: scale(0.8);
    }
    
    100% {
      transform: scale(1);
    }
  }
}