@import 'assets/scss/valuable';
@import 'assets/scss/responsive';

#detail {
  position: relative;
  z-index: 0;
  color: $white-color;
  .tab {
    max-width: 920px;
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    .item {
      display: block;
      background: url('/assets/img/button2.png') no-repeat center center / 100%
        96%;
      text-align: center;
      height: 48px;
      width: 200px;
      line-height: 48px;
      margin-left: 48px;
      margin-right: 48px;
      font-size: 16px;
      text-decoration: none;
      color: #fff;
    }
    .item.active {
      background: url('/assets/img/button2-active.png') no-repeat center center /
        100% 96%;
    }
  }
  .title-box {
    margin-top: 32px;
    .container {
      width: 920px;
      h3 {
        font-size: 42px;
        font-weight: 700;
        max-height: 42px;
        margin-bottom: 0;
      }
      .level {
        font-size: 20px;
      }
    }
  }
  .box-detail {
    .container {
      display: flex;
      justify-content: center;
      .left {
        text-align: center;
        margin-right: 40px;
        .img {
          img {
            width: 350px;
          }
        }
        .price {
          margin-top: 16px;
          img {
            width: 34px;
          }
          span {
            color: $white-color;
            font-size: 18px;
            padding-left: 8px;
          }
        }
        .button {
          background: url('/assets/img/button5.png') no-repeat center / 100%
            100%;
          margin-top: 10px;
          height: 36px;
          position: relative;
          width: 150px;
          margin-left: auto;
          margin-right: auto;
          button {
            height: 100%;
            width: 100%;
            color: $white-color;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 14px;
            text-shadow: 1px 1px 2px #000;
          }
        }
      }
      .right {
        flex-basis: 50%;
        h3 {
          font-weight: 700;
          font-size: 26px;
          margin: 20px 0 8px;
        }
        .content {
          background-color: rgba(26, 56, 101, 0.22);
          border-radius: 5px;
          border: 1px solid rgba(108, 165, 214, 0.8);
          padding: 8px 12px;
          .description {
            font-size: 18px;
          }
          hr {
            height: 2px;
          }
          .item {
            margin-bottom: 16px;
            font-size: 18px;
            label {
              color: #bbbdbf;
            }
            span {
              margin-left: 8px;
            }
          }
          .item.special {
            color: #e4664f;
            label {
              color: #e4664f;
            }
          }
        }
      }
    }
  }
  @include media('screen', '<tablet') {
    .tab {
      .item {
        margin-left: 6px;
        margin-right: 6px;
        width: 140px;
      }
    }
    .box-detail {
      .container {
        flex-direction: column;
        .left {
          margin-left: 40px;
        }
        .right {
          margin-left: 16px;
          margin-right: 16px;
          .content {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
