@font-face {
  font-family: 'Montserrat';
  src: url(./static/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./static/Montserrat-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./static/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./static/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
}
