@import 'assets/scss/responsive';

header {
  position: relative;
  z-index: 0;
  margin: 24px;
  // background-color: rgba(0, 71, 85, 0.4);
  background-color: rgba(101, 37, 26, 0.22);
  border: 2px solid #eb882539;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  .hd-items {
    display: flex;
    .item {
      display: flex;
      align-items: center;
      height: 40px;
      margin: 12.5px 20px 12.5px 12.5px;
      img {
        height: 40px;
        width: 40px;
      }
      span {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        color: #fff;
      }
    }
  }
  .button {
    background: url('/assets/img/button.png') no-repeat center / contain;
    margin: 8px 15px 8px 0;
    width: 146px;
    height: 46px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
  @include media('screen', '<laptop') {
    flex-direction: column;
    align-items: center;
    margin: 12px 8px;
    
    .hd-items{
      flex-direction: column;
      width: 100%;
    }
  }
}
