@import 'assets/scss/valuable';
@import 'assets/scss/responsive';

#marketplace {
  position: relative;
  z-index: 1;
  .main {
    .summary {
      margin-top: 50px;
      .item {
        position: relative;
        height: 200px;
        > .img {
          position: relative;
          height: 200px;
          display: flex;
          justify-content: center;
          img {
            // width: 100%;
            height: 100%;
          }
        }
        .infor {
          display: inline-block;
          width: 140px;
          text-align: center;
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%,-50%);

          h4 {
            font-size: 18px;
            color: rgb(0, 0, 0);
            font-weight: 700;
            text-align: center;
            margin-bottom: 0;
          }
          > span {
            font-size: 24px;
            text-align: center;
            font-weight: 700;
            line-height: 1.2;
            color: $green-color;
            color: rgb(0, 0, 0) !important;
          }
        }
      }
    }
    .filter {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      &-title{
        margin-right: 12px;
      }
      label {
        font-size: 18px;
        color: #fff;
        margin-right: 10px;
      }
      .select {
        display: inline-flex;
        border-radius: 10px;
        border: 1px solid $white-color;
        height: 38px;
        overflow: hidden;
        position: relative;
        margin-right: 16px;
        > svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          fill: $white-color;
        }
        select {
          border: unset;
          font-size: 14px;
          width: 154px;
          -webkit-appearance: none;
          appearance: none;
          outline: 0;
          background-color: rgba(0, 71, 85, 0.6);
          flex: 1 1;
          padding: 0 0.5em;
          color: #dcd3e0;
          cursor: pointer;
        }
      }
      .input {
        display: inline-flex;
        position: relative;
        border-radius: 10px;
        border: 1px solid $white-color;

        height: 38px;
        width: 280px;
        overflow: hidden;
        > input {
          padding-left: 10px;
          padding-right: 36px;
          background-color: rgba(0, 71, 85, 0.6);
          height: 100%;
          border: unset;
          width: 100%;
          outline: none;
          color: #fff;
          font-size: 14px;
        }
        > img {
          position: absolute;
          height: 24px;
          height: 24px;
          top: 50%;
          transform: translateY(-50%);
          right: 5px;
        }
      }
      &-icon{
        border-radius: 10px;
        border: 1px solid #fff;
        background-color: rgba(0, 71, 85, 0.6);
        height: 38px;
        width: 38px;
        display: flex;
        margin-left: 12px;

        &:hover{
          cursor: pointer;
        }

        i{
          margin:auto;
          font-size: 20px;
          color: #fff;
        }
      }
    }
    .list-item {
      .container .row .item {
        padding-left: 0;
        padding-right: 0;
        .wrapper {
          display: block;
          background-color: #004755;
          margin: 12px 6px 0;
          border-radius: 10px;
          overflow: hidden;
          transition: box-shadow 0.4s ease-in-out;
          text-decoration: none;
          cursor: pointer;
          border: 2px solid $white-color;
          // min-height: 435px;

          &:hover {
            box-shadow: inset 30px 0 60px rgb(86 132 190 / 65%),
              inset -30px 0 60px rgb(86 132 190 / 45%);
            > .img > img {
              transform: scale(1.2);
            }
          }
          .title {
            position: relative;
            background-color: #fff;
            border-bottom: 1px solid $white-color;
            color: transparent;
            > img {
              width: 100%;
            }
            &::after {
              position: absolute;
              content: attr(data-after);
              color: transparent;
              font-size: 17px;
              font-weight: 700;
              top: 50%;
              left: 50%;
              white-space: nowrap;
              transform: translate(-50%, -50%);
              z-index: 1;
              text-shadow: 0 0.5px 3px #15414c;
            }
            > span {
              position: absolute;
              top: 50%;
              left: 50%;
              white-space: nowrap;
              transform: translate(-50%, -50%);
              font-size: 17px;
              font-weight: 700;
              background-image: linear-gradient(#fddd1c, #f59424);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              z-index: 3;
            }
          }
          .name {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            font-size: 18px;
            font-weight: 700;
            color: $white-color;
            padding: 8px 12px;
            line-height: 1.7;
          }
          > .img {
            text-align: center;
            > img {
              transition: transform 0.4s ease-in-out;
              height: 100px;
            }
          }
          .information {
            padding-left: 12px;
            line-height: 26px;
            min-height: 160px;
            .info-item {
              font-size: 13px;
              margin-bottom: 10px;
              color: $white-color;
              display: flex;
              label {
                padding-left: 8px;
                font-weight: 700;
              }
              span {
                padding-left: 8px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          .price {
            text-align: center;
            text-shadow: 1px 1px 3px #000;
            letter-spacing: 2px;
            margin-bottom: 12px;
            > .img {
              margin-right: 8px;
              > img {
                width: 26px;
                height: 26px;
              }
            }
            > .coin {
              vertical-align: middle;
              color: #fdca50;
              font-size: 16px;
              font-weight: 700;
            }
          }
          .button {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            width: 110px;
            height: 36px;
            background: url('/assets/img/button5.png') no-repeat center / 100%
              100%;
            button {
              height: 100%;
              width: 100%;
              color: #fff;
              background-color: transparent;
              border: none;
              outline: none;
              font-size: 14px;
              text-shadow: 1px 1px 2px #000;
            }
          }
        }
      }
    }
  }

  
  @include media('screen', '<laptop') {
    .main {
      .summary {
        > div {
          flex-direction: column;
        }
        .container {
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
          max-width: 100%;
          .item {
            display: flex;
            .infor {
              flex-grow: 1;
            }
          }
        }
      }
      .tab {
        width: 100%;
      }
    }
  }
  @include media('screen', '<tablet') {
    .main {
      .tab {
        .item {
          margin-left: 6px;
          margin-right: 6px;
          width: 140px;
        }
      }
      .filter {
        .select {
          margin-bottom: 8px;
        }
        .input {
          margin-left: 8px;
          margin-right: 8px;
          width: calc(100% - 16px);
        }
      }
    }
  }
  @include media('screen', '<mobileL') {
    .main {
      .filter {
        .select {
          margin-left: 8px;
          margin-right: 8px;
          width: calc(100% - 16px - 56px);
        }
      }
      .list-item .container .row .item .wrapper {
        .title span {
          font-size: 15px;
        }
        .img img {
          height: 100px;
        }
        .price {
          > .coin {
            font-size: 10px;
          }
        }
      }
    }
  }
}



