@import 'assets/scss/responsive';

#vesting {
  .box {
    width: 1024px;
    margin: 56px auto 0;
    display: flex;
    .item {
      flex-basis: 50%;
    }
    .left {
      background-color: rgba(26, 56, 101, 0.22);
      border-radius: 5px;
      border: 1px solid rgba(108, 165, 214, 0.8);
      padding: 16px 0;
      text-align: center;
      img {
        max-width: 58%;
      }
    }
    .right {
      margin: 20px;
      padding-left: 48px;
      letter-spacing: 1.2px;
      h1 {
        font-size: 34px;
        padding-top: 46px;
        padding-bottom: 32px;
        font-weight: 700;
      }
      p {
        font-size: 16px;
      }
    }
  }
  @include media('screen', '<laptop') {
    .box {
      flex-direction: column;
      margin-left: 12px;
      margin-right: 12px;
      width: calc(100% - 24px);
      .right {
        padding-left: 0px;
        h1 {
          padding-top: 32px;
          padding-bottom: 20px;
        }
      }
    }
  }
}
